* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: rgb(34, 34, 34);
}

header {
    padding: 32px; 
    background: rgb(26, 26, 26);
    border-bottom: 1px solid rgb(54, 54, 54);
}

header div {
    text-align: center;
}

header div a {
    color: rgb(189, 189, 189);
    font-size: 16px;
    font-family: 'Roboto Mono', sans-serif;
    line-height: 30px;
    margin: 0 16px;
    text-decoration: none;
    transition: color 600ms, text-shadow 600ms;
}

header div a:hover{
    color: rgb(231, 231, 231);
    text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.527);
}

.cards {
    max-width: 900px;
    padding-top: 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    background-color: rgb(92, 27, 110);
    color: rgb(201, 201, 201);
    font-size: 12px;
    font-family: 'Roboto Mono', sans-serif;
    border-radius: 8px;
    transition: box-shadow 600ms, margin-top 600ms;
}

.card:hover{
    margin-top: -5px;
    box-shadow: 0px 5px 10px rgba(239, 157, 255, 0.425);
}

.cardImg img {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.342);
    border-radius: 8px;
    width: 100%;
}

.cardInfo {
    padding-bottom: 30px;
    margin: 0px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.cardCode {
    margin-left: 20px;
}

.cardCode p {
    padding: 9px 20px;
    background-color: rgb(67, 20, 80);
    border-radius: 20px;
}

.cardName {
    font-size: 16px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 20px;
    margin: 0px 30px;
    text-align: center;
}